
body{
    margin-inline: 5%;
    background-color: white;
    background-position: center;

}

#table{
    border-radius: 12px;
    background-color: white;
}
#table1{
    background-color:#24cdee;
    border-radius: 12px; 
    text-align: center;       

}

#table2{
    margin: auto;
    background-color:#ebf1f2;
    border-radius: 12px;     

}
#table3{
    margin: auto;
    background-color:#ebf1f2;
    border-radius: 12px;    

}

img {
    max-width: 200px;
    max-height: 200px;
  }
  
label{
    font-weight: bold;
    color: #111111cb;
    margin-left: 5%;
    
}

#sisben{
    border-radius: 8px;
    }
    #tipo{
        border-radius: 8px;
       
    }

    #nombre{
        border-radius: 8px;
    }
    #apellido{
        border-radius: 8px;
    }
    
    #fecha_nac{
        border-radius: 8px;
    }
    .custom-file-input {
        display: inline-block;
        padding: 4px 8px;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #fff;
        color: #333;
        cursor: pointer;
      }